<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org"
      lang="pl">
<head charset="utf-8">
    <meta charset="UTF-8"/>
    <title>Pierwszy</title>
</head>
<body>
    <h1>Zarejestruj swoją firmę</h1>
    <!--${flowExecutionUrl} powoduje przejście do kolejnego etapu flow-->
    <form action="#" th:object="${firm}" th:action="${flowExecutionUrl}" method="post">
        <input type="text" th:field="*{firmName}"/> Podaj nazwę firmy
        <br/>
        <input type="text" th:field="*{email}"/> Podaj adres email
        <br/>
        <input type="number" th:field="*{monthlySalary}"/> Podaj miesięczne wynagrodzenie
        <br/>
        <button type="submit"  name="_eventId_next">Dalej</button>
    </form>


</body>
</html>